@import '../../colors.css';

.subscribe-form-wrapper {
  margin-top: 25px;

  .highlight-text {
    background: $color-geraldine;
    font-weight: 300;
    margin: 10px auto 45px;
    padding: 5px 0;
    max-width: 300px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"] {
    background: transparent;
    border: 1px solid #fff;
    color: inherit;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    width: 100%;
  }

  ::-webkit-input-placeholder {
    font-weight: 300;
    color: #fff;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-weight: 300;
    color: #fff;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-weight: 300;
    color: #fff;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: 300;
    color: #fff;
  }

  button {
    background: $color-geraldine;
    border: none;
    border-bottom: 2px solid $color-roman;
    color: inherit;
    font-size: 16px;
    height: 40px;
    margin: 0;
    margin-top: 10px;
    outline: none;
    padding: 0;
    width: 100%;
    text-align: center;

    &.disabled {
      background: $color-roman;
    }

    img {
      width: 50px;
    }
  }

  .message {
    margin-top: 10px;

    &.error {
      background: rgba(255, 255, 255, 0.7);
      color: #960000;
      padding: 10px;
    }

    &.success {
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 30px 0;
      text-align: center;
    }
  }
}

@media only screen and (min-width : 768px) {
  .subscribe-form-wrapper {
    margin: 55px auto 0;
    width: 630px;

    .subscribe-form {
      display: flex;
      align-items: flex-end;
    }

    .highlight-text {
      background: none;
      box-shadow: none;
      height: 76px;
      margin: 0;
      max-width: none;
      padding: 0;
      position: relative;
      width: 178px;

      span {
        background: $color-geraldine;
        font-size: 32px;
        height: 39px;
        line-height: 39px;
        left: 0;
        position: absolute;
        top: 0;
        width: 155px;
        z-index: 10;
      }

      .shadow-bg {
        background: $color-roman;
        bottom: 0;
        height: 57px;
        position: absolute;
        right: 0;
        width: 132px;

        &:before {
          border-bottom: 19px solid $color-roman;
          border-right: 23px solid transparent;
          content: '';
          height: 0;
          position: absolute;
          right: 0;
          top: -19px;
          width: 0;
        }

        &:after {
          border-top: 37px solid $color-roman;
          border-left: 46px solid transparent;
          bottom: 0;
          content: '';
          height: 0;
          left: -46px;
          position: absolute;
          width: 0;
        }
      }
    }

    label {
      font-weight: bold;
      margin-left: 15px;
    }

    .input-control {
      flex-grow: 1;
    }

    input[type="text"] {
      height: 57px;
    }

    button {
      height: 57px;
      width: 100px;
    }

    .message {
      margin-left: 178px;
    }
  }
}

@media only screen  and (min-width : 920px) {
  .subscribe-form-wrapper {
    margin-left: 20%;
  }
}

@media only screen  and (min-width : 1280px) {
  .subscribe-form-wrapper {
    width: 760px;

    input[type="text"] {
      font-size: 25px;
    }

    button {
      font-size: 25px;
      width: 135px;
    }
  }
}
