.slogan {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  text-align: right;
}

@media only screen and (min-width : 568px) {
  .slogan {
    margin-bottom: 35px;

    .text-1 {
      font-size: 39px;
      height: 35px;
    }

    .text-2 {
      font-size: 60px;
      height: 57px;
    }

    .text-3 {
      font-size: 49px;
    }
  }
}

@media only screen and (min-width : 768px) {
  .slogan {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    width: 300px;
    text-align: left;

    .text-1 {
      font-size: 69px;
      height: 65px;
    }

    .text-2 {
      font-size: 107px;
      height: 106px;
    }

    .text-3 {
      font-size: 88px;
    }
  }
}

@media only screen  and (min-width : 1224px) {
  .slogan {
    margin: 0 0 0 300px;
  }
}
